.navbar{
    background-color: #04e762;
    color: white;
    height: 56px;
}

.headerLogo{
    color: white;
    margin-right: 10px;
}

.navLink{
    font-weight: bold;
    color: white;
}

.Brand{
    color: white;
}